*{
    margin: 0;
    padding: 0;
  }

body{
    width:100%;
    background-color: #24252a;
    
}

#search-bar{
    width: 70%;
    margin: auto;
    margin-top: 60px;
    display: inline-flexbox;
    font-size: 30px;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
}

#search-bar form{
    width: 100%;
    display: flex;
    padding: 0;
}

#search-text{
    padding-top: 10px;
    width: 90%;
    height: 15px;
}

#search-btn{
    width: 9%;
    height: 29px;
}

#form-rect input, #my-text{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}


#mangas{
    background-color: #838383;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 6px 10px 14px -2px #000;
    padding: 20px;
    width: 70%;
    margin: auto;
    margin-top: 60px;
    display:flex;
    font-size: 13px;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
}

#manga-cover{
background-size:cover;
background-position: center;
float: left;
width: 20%;
height: 300px;
padding: 0 20px;
}

#manga-information-section{
float: right;
width: 69%;
}

#manga-information h1{
 width: 100%;
 color: black;
}

#sinopse{
    color: black;
    font-family: "Montserrat", sans-serif;
}

#manga-additional-info{
    display:flex;
}

#additional-info{
    display: flex;
}

#additional-info p{
    font-family: "Montserrat", sans-serif;
    color: black;
    border: black solid 1px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    max-width: fit-content;
    padding: 6px;
    background-color: white;
}